/* Other rules */

@font-face {
  font-family: "MaisonNeue";
  src: local("MaisonNeue"), url(./assets/Font.07eee1dd.woff2) format("woff2");
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: grey;
  line-height: normal;
  font-size: 12px;
}

.container,
.signup-container {
  font-family: "MaisonNeue";
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

/*Header*/

.logo {
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 200px;
  background-color: white;
}

.header img:hover {
  cursor: pointer;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.searchbar {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-family: "MaisonNeue";
  font-size: 16px;
}

.search-input-icon {
  position: absolute;
  left: 7px;
  top: 12px;
  color: #bbb;
}

.switch-button {
  background-color: #2cb1ba;
  width: 60px;
  height: 34px;
}

.signin-button,
.login-button {
  background-color: #fff;
  color: #2cb1ba;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "MaisonNeue";
  font-size: 12px;
  margin: 0 10px;
}

.sell-button {
  background-color: #2cb1ba;
  color: white;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "MaisonNeue";
  font-size: 12px;
}

.signout-button {
  background-color: rgb(161, 37, 53);
  color: white;
  height: 30px;
  width: 115px;
  border: 1px solid rgb(161, 37, 53);
  border-radius: 5px;
  font-family: "MaisonNeue";
  font-size: 12px;
}

/*Home page*/

.banner {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.banner-container {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.hero-block__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: bottom right 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.products-bloc {
  margin: 0 150px;

  font-family: "MaisonNeue";
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  flex: 1;
  font-family: "MaisonNeue";
  width: 235px;
  cursor: pointer;
  margin-top: 20px;
}

.avatar {
  display: flex;
  font-size: 12px;
  align-items: center;
  margin: 5px 0;
  font-family: "MaisonNeue";
}

.avatar img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.product-illustration {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

.informations-product-price {
  color: black;
  font-size: 14px;
}

.informations-product {
  display: flex;
  flex-direction: column;
  font-family: "MaisonNeue";
}

/* Page Offer */

.main-Offer {
  background-color: rgb(228, 227, 227);
  font-family: "MaisonNeue";
}

.results-product {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
}

.selected-product-illustration {
  height: 600px;
  object-fit: cover;
  pointer-events: none;
}

.details-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 320px;
  padding: 40px;
}

.price-product {
  font-size: 24px;
  line-height: 32px;
  color: #111;
}

.product-result {
  width: 2rem;
}

.list-details-product {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 14px;
  line-height: 24px;
}

.list-details-product span {
  font-weight: 700;
  color: #666;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.product-illustration {
  object-fit: cover;
}

.name-product {
  font-size: 1rem;
  font-weight: bold;
}

.avatar-picture-offer {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.buy-button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}

/* Signup Page */

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  width: 300px;
  margin: 50px auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.signup-container h2 {
  font-size: 2rem;
  font-weight: 400;
}

.signup-form input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

.checkbox-container {
  margin-top: 20px;
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: center;
}

.signup-form input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

.checkbox-container span {
  color: #666;
}

.infos-newsletter {
  text-align: left;
  color: #999;
  font-size: 12px;
}

.submit-button {
  background-color: #2cb1ba;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.signup-container a {
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 30px;
}

/* Error 404 page */
.error404 {
  margin-top: 200px;
  text-align: center;
  font-family: "MaisonNeue";
}

.error404 h2 {
  font-size: 2.4rem;
  color: rgba(15, 14, 14, 0.507);
}

.error404 p {
  font-size: 1.2rem;
  color: #6666;
}
